[master]
{% for master in tf.outputs.master_ipv4.value %}
{% for ip in master %}
{{ ip }}
{% endfor %}
{% endfor %}

[worker1]
{% for worker in tf.outputs.worker1_ipv4.value %}
{% for ip in worker %}
{{ ip }}
{% endfor %}
{% endfor %}

[worker2]
{% for worker in tf.outputs.worker2_ipv4.value %}
{% for ip in worker %}
{{ ip }}
{% endfor %}
{% endfor %}

[worker3]
{% for worker in tf.outputs.worker3_ipv4.value %}
{% for ip in worker %}
{{ ip }}
{% endfor %}
{% endfor %}

[worker4]
{% for worker in tf.outputs.worker4_ipv4.value %}
{% for ip in worker %}
{{ ip }}
{% endfor %}
{% endfor %}

[loadbalancer]
{% for ip in tf.outputs.lb_ipv4.value %}
{{ ip }}
{% endfor %}

[allserver]
{% for master in tf.outputs.master_ipv4.value %}
{% for ip in master %}
{{ ip }}
{% endfor %}
{% endfor %}
{% for worker in tf.outputs.worker1_ipv4.value %}
{% for ip in worker %}
{{ ip }}
{% endfor %}
{% endfor %}
{% for worker in tf.outputs.worker2_ipv4.value %}
{% for ip in worker %}
{{ ip }}
{% endfor %}
{% endfor %}
{% for worker in tf.outputs.worker3_ipv4.value %}
{% for ip in worker %}
{{ ip }}
{% endfor %}
{% endfor %}
{% for worker in tf.outputs.worker4_ipv4.value %}
{% for ip in worker %}
{{ ip }}
{% endfor %}
{% endfor %}

[localhost]
127.0.0.1  ansible_connection=local