---
- name: Destroy Infrastructure with Terraform
  terraform:
    project_path: "{{ playbook_dir }}/roles/tf-infrastructure/terraform"
    force_init: true
    state: absent
    variables:
      hcloud_token: "{{ hetzner_token }}"
      datacenter: "{{ datacenter }}"
      master_servertype: "{{ master_servertype }}"
      worker1_servertype: "{{ worker1_servertype }}"
      worker2_servertype: "{{ worker2_servertype }}"
      worker3_servertype: "{{ worker3_servertype }}"
      worker4_servertype: "{{ worker4_servertype }}"
      lb_datacenter: "{{ lb_datacenter }}"
      lb_type: "{{ lb_type }}"
      worker1_count: "{{ worker1_count }}"
      worker2_count: "{{ worker2_count }}"
      worker3_count: "{{ worker3_count }}"
      worker4_count: "{{ worker4_count }}"
      domain: "{{ domain }}"
  register: tf
