# Hetzner HCloud Project API Token
hetzner_token: XXXXxxxxxXXxxx...
# Public SSH Keys to connect instances with ssh
ssh_authorized_keys:
  - ssh-rsa AAAAB3XXXXXxxxx== gammpamm@example.com
# Datacenter Name
datacenter: fsn1
# Master and Worker Server Types
master_servertype: cx11-ceph
worker1_servertype: cx11-ceph
worker2_servertype: cx11-ceph
worker3_servertype: cx11-ceph
worker4_servertype: cx11-ceph

# Loadbalancer type
lb_type: lb11
# Loadbalancer Datacenter Name
lb_datacenter: nbg1
# Loadbalancer hostname
lb_hostname: lb.example.org
# Count Worker Nodes
worker1_count: 1
worker2_count: 0
worker3_count: 0
worker4_count: 0
# Domain for master, workers and lb. (rDNS, Hostname)
domain: example.com
# Tested 1.19.0
kubenetes_version: 1.19.0
local_kube_context_path: /home/<YOUR-USER>/.kube
cert_email: user@sample.org