# Hetzner HCloud Project API Token
hetzner_token: XXXXxxxxxXXxxx...
# Public SSH Keys to connect instances with ssh
ssh_authorized_keys:
  - ssh-rsa AAAAB3XXXXXxxxx== gammpamm@example.com
# Datacenter Name
datacenter: fsn1
# Master and Worker Server Types
master_servertype: cx11-ceph
worker_servertype: cx11-ceph
# Count Worker Nodes
worker_count: 1
# Count Pool IPs for Metal Load Balancer
floatip_count: 1
use_my_ip: 1
my_ip_tag: tag=example
# Domain for master, workers and lb. (rDNS, Hostname)
domain: example.com
# Tested 1.15.5 and 1.16.2 and 1.17.4
kubenetes_version: 1.17.5
local_kube_context_path: /home/<YOUR-USER>/.kube
